# 对外暴露的 id，用于将 group 引入 pipline
ref_id: "CodeExecutionGroup"

# group 名称
name: "CodeExecutionGroup"
# 对 group 的详细描述
description: "执行生成的代码"
# group 要完成的任务
task: ""

# group 内包含的 agent
agents:
  - CodeExecutionAgent: "agent_network/config/Template/agent/CodeExecutionAgent.yaml"
# 信息流开始的 agent
start_agent: CodeExecutionAgent
end_agent: CodeExecutionAgent

# 路由
routes:

# 阻塞标记
block_flag:
  - "TBotGroup"

# 执行上下文参数
params:
  - name: "code"
    type: "list"
  - name: "variables"
    type: "list"

# 执行上下文结果
results:

# group 场景下的 prompt
prompts:

# 初始化时需要的额外参数
initExtraParams:

# group 提供的工具
tools:

